.button {
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5 5 5 5;
    -fx-cursor: hand;
}